# OS files
.DS_Store
.Rhistory
Thumbs.db

# Editor / IDE
.vscode/
*~
*.swp
*.bak


# LaTeX build artifacts
*.log
*.aux
*.fls
*.fdb_latexmk
*.out
*.synctex.gz
*.synctex(busy)
*.dvi
*.xdv

# LaTeX temporary files
*.bbl
*.blg
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg
*.nav
*.snm
*.vrb
*.run.xml
*.bcf

# biber
*.bbl-SAVE-ERROR

# latexmk
*.latexmk_db

# lineno
*.lno

# PDF output
docs/*.pdf